## Loading Dataset

In [170]:
import pandas as pd

In [171]:
df = pd.read_csv("text_dataset.csv")

In [227]:
df.head()

                                                text
0   mainstream media has done an amazing job at b...
1  tesla delivery estimates are at around 364k fr...
2  3 even if i include 630m unvested rsus as of 6...
3   hahaha why are you still trying to stop tesla...
4   stop trying to kill kids you sad deranged old...

In [172]:
df.size

81196

In [173]:
df.shape

(81196, 1)

In [174]:
df.columns

Index(['text'], dtype='object')

In [176]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81196 entries, 0 to 81195
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    81196 non-null  object
dtypes: object(1)
memory usage: 634.5+ KB

In [177]:
df.describe()

                                text
count                          81196
unique                         64860
top     $TSLA will triple in 2022 ðŸš€ðŸŒ•
freq                              25

In [178]:
df.duplicated().sum()

16336

In [179]:
df = df.drop_duplicates()

In [180]:
df.nunique()

text    64860
dtype: int64

In [181]:
df.isnull().sum()

text    0
dtype: int64

In [182]:
df

                                                    text
0      @news #trend, Mainstream media has done an ama...
1      Tesla delivery estimates are at around 364k fr...
2      3/ Even if I include 63.0M unvested RSUs as of...
3      @RealDanODowd @WholeMarsBlog @Tesla Hahaha why...
4      @RealDanODowd @Tesla Stop trying to kill kids,...
...                                                  ...
81179  #SBIN @ CRUCIAL ZONE FOR EITHER SIDE https://t...
81182  Some of my #StocksToTrade picks blasted during...
81185  #SBIN - SBI buy is possible - TradingView - ht...
81186  @IndiaPostOffice @cpmgdelhi very important doc...
81190  *Muharat pick 6*\nBuy SBI at current market pr...

[64860 rows x 1 columns]

In [183]:
import warnings

warnings.filterwarnings("ignore")

## Text Preprocessing

#### contractions expansion

In [184]:
import contractions

In [185]:
# contractions_dict = {
#     "ain't": "am not / are not / is not / has not / have not",
#     "aren't": "are not / am not",
#     "can't": "cannot",
#     "can't've": "cannot have",
#     "'cause": "because",
#     "could've": "could have",
#     "couldn't": "could not",
#     "couldn't've": "could not have",
#     "didn't": "did not",
#     "doesn't": "does not",
#     "don't": "do not",
#     "hadn't": "had not",
#     "hadn't've": "had not have",
#     "hasn't": "has not",
#     "haven't": "have not",
#     "he'd": "he had / he would",
#     "he'd've": "he would have",
#     "he'll": "he shall / he will",
#     "he'll've": "he shall have / he will have",
#     "he's": "he has / he is",
#     "how'd": "how did",
#     "how'd'y": "how do you",
#     "how'll": "how will",
#     "how's": "how has / how is / how does",
#     "I'd": "I had / I would",
#     "I'd've": "I would have",
#     "I'll": "I shall / I will",
#     "I'll've": "I shall have / I will have",
#     "I'm": "I am",
#     "I've": "I have",
#     "isn't": "is not",
#     "it'd": "it had / it would",
#     "it'd've": "it would have",
#     "it'll": "it shall / it will",
#     "it'll've": "it shall have / it will have",
#     "it's": "it has / it is",
#     "let's": "let us",
#     "ma'am": "madam",
#     "mayn't": "may not",
#     "might've": "might have",
#     "mightn't": "might not",
#     "mightn't've": "might not have",
#     "must've": "must have",
#     "mustn't": "must not",
#     "mustn't've": "must not have",
#     "needn't": "need not",
#     "needn't've": "need not have",
#     "o'clock": "of the clock",
#     "oughtn't": "ought not",
#     "oughtn't've": "ought not have",
#     "shan't": "shall not",
#     "sha'n't": "shall not",
#     "shan't've": "shall not have",
#     "she'd": "she had / she would",
#     "she'd've": "she would have",
#     "she'll": "she shall / she will",
#     "she'll've": "she shall have / she will have",
#     "she's": "she has / she is",
#     "should've": "should have",
#     "shouldn't": "should not",
#     "shouldn't've": "should not have",
#     "so've": "so have",
#     "so's": "so as / so is",
#     "that'd": "that would / that had",
#     "that'd've": "that would have",
#     "that's": "that has / that is",
#     "there'd": "there had / there would",
#     "there'd've": "there would have",
#     "there's": "there has / there is",
#     "they'd": "they had / they would",
#     "they'd've": "they would have",
#     "they'll": "they shall / they will",
#     "they'll've": "they shall have / they will have",
#     "they're": "they are",
#     "they've": "they have",
#     "to've": "to have",
#     "wasn't": "was not",
#     "we'd": "we had / we would",
#     "we'd've": "we would have",
#     "we'll": "we will",
#     "we'll've": "we will have",
#     "we're": "we are",
#     "we've": "we have",
#     "weren't": "were not",
#     "what'll": "what shall / what will",
#     "what'll've": "what shall have / what will have",
#     "what're": "what are",
#     "what's": "what has / what is",
#     "what've": "what have",
#     "when's": "when has / when is",
#     "when've": "when have",
#     "where'd": "where did",
#     "where's": "where has / where is",
#     "where've": "where have",
#     "who'll": "who shall / who will",
#     "who'll've": "who shall have / who will have",
#     "who's": "who has / who is",
#     "who've": "who have",
#     "why's": "why has / why is",
#     "why've": "why have",
#     "will've": "will have",
#     "won't": "will not",
#     "won't've": "will not have",
#     "would've": "would have",
#     "wouldn't": "would not",
#     "wouldn't've": "would not have",
#     "y'all": "you all",
#     "y'all'd": "you all would",
#     "y'all'd've": "you all would have",
#     "y'all're": "you all are",
#     "y'all've": "you all have",
#     "you'd": "you had / you would",
#     "you'd've": "you would have",
#     "you'll": "you shall / you will",
#     "you'll've": "you shall have / you will have",
#     "you're": "you are",
#     "you've": "you have",
# }

In [187]:
# Function to apply contractions fix to each text
def fix_contractions(text):
    return contractions.fix(text)


# Applying the function to each text in the DataFrame
df["text"] = df["text"].apply(fix_contractions)

In [ ]:
import neattext.functions as nfx

In [ ]:
dir(nfx)

['BTC_ADDRESS_REGEX',
 'CURRENCY_REGEX',
 'CURRENCY_SYMB_REGEX',
 'Counter',
 'DATE_REGEX',
 'EMAIL_REGEX',
 'EMOJI_REGEX',
 'HASTAG_REGEX',
 'MASTERCard_REGEX',
 'MD5_SHA_REGEX',
 'MOST_COMMON_PUNCT_REGEX',
 'NUMBERS_REGEX',
 'PHONE_REGEX',
 'PoBOX_REGEX',
 'SPECIAL_CHARACTERS_REGEX',
 'STOPWORDS',
 'STOPWORDS_de',
 'STOPWORDS_en',
 'STOPWORDS_es',
 'STOPWORDS_fr',
 'STOPWORDS_ru',
 'STOPWORDS_yo',
 'STREET_ADDRESS_REGEX',
 'TextFrame',
 'URL_PATTERN',
 'USER_HANDLES_REGEX',
 'VISACard_REGEX',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__generate_text',
 '__loader__',
 '__name__',
 '__numbers_dict',
 '__package__',
 '__spec__',
 '_lex_richness_herdan',
 '_lex_richness_maas_ttr',
 'clean_text',
 'defaultdict',
 'digit2words',
 'extract_btc_address',
 'extract_currencies',
 'extract_currency_symbols',
 'extract_dates',
 'extract_emails',
 'extract_emojis',
 'extract_hashtags',
 'extract_html_tags',
 'extract_mastercard_addr',
 'extract_md5sha',
 'extract_numbers',
 'extract_pattern',
 'extract_phone_numbers',
 'extract_postoffice_box',
 'extract_shortwords',
 'extract_special_characters',
 'extract_stopwords',
 'extract_street_address',
 'extract_terms_in_bracket',
 'extract_urls',
 'extract_userhandles',
 'extract_visacard_addr',
 'fix_contractions',
 'generate_sentence',
 'hamming_distance',
 'inverse_df',
 'lexical_richness',
 'markov_chain',
 'math',
 'nlargest',
 'normalize',
 'num2words',
 'random',
 're',
 'read_txt',
 'remove_accents',
 'remove_bad_quotes',
 'remove_btc_address',
 'remove_currencies',
 'remove_currency_symbols',
 'remove_custom_pattern',
 'remove_custom_words',
 'remove_dates',
 'remove_emails',
 'remove_emojis',
 'remove_hashtags',
 'remove_html_tags',
 'remove_mastercard_addr',
 'remove_md5sha',
 'remove_multiple_spaces',
 'remove_non_ascii',
 'remove_numbers',
 'remove_phone_numbers',
 'remove_postoffice_box',
 'remove_puncts',
 'remove_punctuations',
 'remove_shortwords',
 'remove_special_characters',
 'remove_stopwords',
 'remove_street_address',
 'remove_terms_in_bracket',
 'remove_urls',
 'remove_userhandles',
 'remove_visacard_addr',
 'replace_bad_quotes',
 'replace_currencies',
 'replace_currency_symbols',
 'replace_dates',
 'replace_emails',
 'replace_emojis',
 'replace_numbers',
 'replace_phone_numbers',
 'replace_special_characters',
 'replace_term',
 'replace_urls',
 'string',
 'term_freq',
 'to_txt',
 'unicodedata',
 'word_freq',
 'word_length_freq']

#### html tags removing

In [189]:
# extracting all the texts from the dataframe containing html tags
df['text'].apply(nfx.extract_html_tags)

0        []
1        []
2        []
3        []
4        []
         ..
81179    []
81182    []
81185    []
81186    []
81190    []
Name: text, Length: 64860, dtype: object

In [191]:
# Applying the remove_html_tags function to each text in the DataFrame
df['text'] = df['text'].apply(nfx.remove_html_tags)

#### removing emails

In [193]:
# # extracting all the texts from the dataframe containing emails
# df[df["text"].apply(nfx.extract_emails).apply(lambda x: len(x) > 0) == True].sample(5)

                                                    text
23220  .@mcdonalds said it would accept dogecoin if @...
19163  .@Tesla Model X Plaid is ðŸ”¥ðŸš€\n\nHoping we see a...
17525  .@adamhoov Bro, wake up! Our time has come! $T...
17282  .@DivesTech is calling his shots:\nðŸš— Tesla: â€œT...
76705  .@Grayscale has launched its first exchange-tr...

In [ ]:
# # Applying the remove_html_tags function to each text in the DataFrame
# df['text'] = df['text'].apply(nfx.remove_emails)

#### removing mobile numbers

In [ ]:
# # extracting all the texts from the dataframe containing phone numbers
# df[df["text"].apply(nfx.extract_phone_numbers).apply(lambda x: len(x) > 0) == True].sample(5)

In [ ]:
# # Applying the remove_phone_numbers function to each text in the DataFrame
# df["text"] = df["text"].apply(nfx.remove_phone_numbers)

#### removing currencies

In [ ]:
# extracting all the texts from the dataframe containing currency symbols
df[df["text"].apply(nfx.extract_currency_symbols).apply(lambda x: len(x) > 0) == True].sample(5)

                                                    text
20219  We are living in 2022 and are seeing countries...
18485  $TSLA will be the greatest investment story in...
29371  You canâ€™t get rich in stock market if you canâ€™...
31394  Giga Berlin starting operations will be by far...
77887  An ES7 is now already on display at a new $NIO...

In [194]:
# Applying the remove_currency_symbols function to each text in the DataFrame
df["text"] = df["text"].apply(nfx.remove_currency_symbols)

#### removing dates

In [195]:
# extracting all the texts from the dataframe containing dates
df[df["text"].apply(nfx.extract_dates).apply(lambda x: len(x) > 0) == True].sample(5)

                                                    text
3521   MI TOP5 PORTFOLIO LARGO PLAZO 15/08/2022\n\n1 ...
7891   TSLA is currently ~737. I have a TSLA price pr...
37293  I predict 29,166 per TSLA share (if no additio...
16749  Breaking - New TSLA price prediction of 25K/sh...
20875  TSLA Street FYâ€™22 EPS now 10.56, +21% since 12...

In [196]:
# Applying the remove_dates function to each text in the DataFrame
df["text"] = df["text"].apply(nfx.remove_dates)

#### emojis removal

In [197]:
# extracting all the texts from the dataframe containing emojis
df[df["text"].apply(nfx.extract_emojis).apply(lambda x: len(x) > 0) == True].sample(5)

                                                    text
27567  Wednesday Flow Setups ðŸŒŠ\n\nðŸš— TSLA 1000c\nðŸ“± AAP...
56459  AAPL and QQQ calls going to print today...Ezpz...
6900   Trading TSLA Live While Signaling To My Chat M...
64604  ALGS Year2 Championship Day3\nWinners Round 1è©¦...
33944  Fremont production is ripping.\n\nðŸ”¥ðŸ”¥ðŸ”¥ðŸ”¥\n\nTSLA...

In [198]:
# Applying the remove_emojis function to each text in the DataFrame
df["text"] = df["text"].apply(nfx.remove_emojis)

#### removing userhandles

In [200]:
# extracting all the texts from the dataframe containing userhandles
df[df["text"].apply(nfx.extract_userhandles).apply(lambda x: len(x) > 0) == True].sample(5)

                                                    text
27562  The @Tesla is pure joy on wheels. Thankful for...
23034  TSLA reports nearly 60,000 cars now with #Auto...
22355  Yesterday i took delivery of my @Tesla model x...
17148  @elonmusk @Tesla @WholeMarsBlog Not to brag, b...
21460  "The President strongly believes in every work...

In [202]:
# Applying the remove_userhandles function to each text in the DataFrame
df["text"] = df["text"].apply(nfx.remove_userhandles)

#### removing hashtags

In [204]:
# extracting all the texts from the dataframe containing hashtags
df[df["text"].apply(nfx.extract_hashtags).apply(lambda x: len(x) > 0) == True].sample(5)

                                                    text
2896   https://t.co/EYyYHFx5LK - Teslaâ€™s Autopilot Le...
62460          #Netflix \n\nNFLX https://t.co/fBQSRENciI
15964  Teslaâ€™s Texas Gigafactory puts the nail in the...
24607  True financial freedom is having zero financia...
19747  Jimmy said he wants me to buy whatever  I want...

In [207]:
# Applying the remove_hashtags function to each text in the DataFrame
df["text"] = df["text"].apply(nfx.remove_hashtags)

#### removing special characters

In [209]:
# extracting all the texts from the dataframe containing special characters
df[df["text"].apply(nfx.extract_special_characters).apply(lambda x: len(x) > 0) == True].sample(5)

                                                    text
9154   Carcissism (noun): excessive interest in or ad...
64867  The push for top four is getting tight, we are...
64770  Great teamplay we win in a 7-1 fashion against...
38760  The biggest moat, i am going to, in AMZN retai...
10844  TSLA TSLAQ\n\nFound this posted in Tesla Share...

In [210]:
# Applying the remove_special_characters function to each text in the DataFrame
df["text"] = df["text"].apply(nfx.remove_special_characters)

#### removing multiple spaces

In [223]:
# Applying the remove_multiple_spaces function to each text in the DataFrame
df["text"] = df["text"].apply(nfx.remove_multiple_spaces)

#### urls removal

In [225]:
# Applying the remove_urls function to each text in the DataFrame
df["text"] = df["text"].apply(nfx.remove_urls)

In [226]:
df.tail()

                                                    text
81179    crucial zone for either side httpstcohia7jvo5pw
81182  some of my picks blasted during this wishing a...
81185   sbi buy is possible tradingview httpstcocdsch...
81186   very important document cheque book tracking ...
81190  muharat pick 6buy sbi at current market price ...

#### lower casing

In [216]:
# Applying the lower function to each text in the DataFrame
df['text'] = df['text'].str.lower()

In [217]:
df.sample(5)

                                                    text
25598  as the price of pltr drops i could not be more...
18213  tsla slipping already in pm gives me a chance ...
39041  breaking amazon amzn downgraded from sell to c...
65746            another flawless for httpstcofhnjse12ca
1700   every morning i tweet out my spy spx tsla leve...

#### removing punctuation

In [218]:
import string

In [219]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [220]:
# Applying the remove_punctuations function to each text in the DataFrame
df["text"] = df["text"].apply(nfx.remove_punctuations)

#### tokenization

In [230]:
import nltk

In [231]:
from nltk.tokenize import word_tokenize

In [232]:
df['tokens'] = df['text'].apply(word_tokenize)

In [233]:
df.head()

,text,tokens
0,mainstream media has done an amazing job at b...,"[mainstream, media, has, done, an, amazing, jo..."
1,tesla delivery estimates are at around 364k fr...,"[tesla, delivery, estimates, are, at, around, ..."
2,3 even if i include 630m unvested rsus as of 6...,"[3, even, if, i, include, 630m, unvested, rsus..."
3,hahaha why are you still trying to stop tesla...,"[hahaha, why, are, you, still, trying, to, sto..."
4,stop trying to kill kids you sad deranged old...,"[stop, trying, to, kill, kids, you, sad, deran..."

#### stopwords removal

In [1]:
from nltk.corpus import stopwords

In [2]:
print(stopwords.words("english"))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [235]:
stop_words = set(stopwords.words("english"))

In [236]:
# Defining a function to remove stop words from a list of tokens
def remove_stopwords(tokens):
    return [word for word in tokens if word.lower() not in stop_words]


# Applying the remove_stopwords function
df["tokens"] = df["tokens"].apply(remove_stopwords)

In [237]:
df.head()

,text,tokens
0,mainstream media has done an amazing job at b...,"[mainstream, media, done, amazing, job, brainw..."
1,tesla delivery estimates are at around 364k fr...,"[tesla, delivery, estimates, around, 364k, ana..."
2,3 even if i include 630m unvested rsus as of 6...,"[3, even, include, 630m, unvested, rsus, 630, ..."
3,hahaha why are you still trying to stop tesla...,"[hahaha, still, trying, stop, tesla, fsd, bro,..."
4,stop trying to kill kids you sad deranged old...,"[stop, trying, kill, kids, sad, deranged, old,..."

#### lemmatization

In [238]:
import spacy

In [239]:
# Loading the spaCy English model
nlp = spacy.load("en_core_web_sm")

In [240]:
def lemmatize_tokens(tokens):
    # joining the tokens into a space-separated string
    text = " ".join(tokens)
    # processing the text using spaCy with nlp
    doc = nlp(text)
    # extracting lemmas from spaCy's document object
    lemmas = [token.lemma_ for token in doc]
    return lemmas

# Applying the lemmatize_tokens function
df["lemmatized"] = df["tokens"].apply(lemmatize_tokens)

In [241]:
df.head()

,text,tokens,lemmatized
0,mainstream media has done an amazing job at b...,"[mainstream, media, done, amazing, job, brainw...","[mainstream, medium, do, amazing, job, brainwa..."
1,tesla delivery estimates are at around 364k fr...,"[tesla, delivery, estimates, around, 364k, ana...","[tesla, delivery, estimate, around, 364k, anal..."
2,3 even if i include 630m unvested rsus as of 6...,"[3, even, include, 630m, unvested, rsus, 630, ...","[3, even, include, 630, m, unvested, rsus, 630..."
3,hahaha why are you still trying to stop tesla...,"[hahaha, still, trying, stop, tesla, fsd, bro,...","[hahaha, still, try, stop, tesla, fsd, bro, ge..."
4,stop trying to kill kids you sad deranged old...,"[stop, trying, kill, kids, sad, deranged, old,...","[stop, try, kill, kid, sad, derange, old, man]"

In [242]:
df['cleaned_text'] = df['lemmatized'].apply(lambda token:' '.join(token))

In [244]:
data = df['cleaned_text']

In [245]:
data

0        mainstream medium do amazing job brainwash peo...
1         tesla delivery estimate around 364k analyst tsla
2        3 even include 630 m unvested rsus 630 additio...
3        hahaha still try stop tesla fsd bro get shit t...
4                    stop try kill kid sad derange old man
                               ...
81179          crucial zone either side httpstcohia7jvo5pw
81182                              pick blast wish success
81185     sbi buy possible tradingview httpstcocdschfjg2 m
81186    important document cheque book track numberjb2...
81190    muharat pick 6buy sbi current market price til...
Name: cleaned_text, Length: 64860, dtype: object

In [246]:
data.to_csv("text_dataset_cleaned.csv", index=False)